#error {
    width: 100%;
    height: 845px;
    margin-top: -55px;
    position: relative;
    background-color: rgb(64, 55, 78, 0.3);
    h1, h2, img, div {
        position: absolute;
    }
    h1, h2 {
        font-weight: 700;
        color: var(--main);
        margin: 0;
    }
    h1 {
        font-size: 100px;
        transform: rotate(315deg);
        top: calc(var(--space-mobile) * 4);
        
    }
    h2 {
        font-size: 25px;
        top: 170px;
        left: 50vw;
    }
    img {
        width: 100%;
        top: 220px;
    }
    div {
        width: 100%;
        height: 380px;
        flex-direction: column;
        padding: var(--space-mobile);
        background-color: var(--gray);
        top: 465px;
        p {
            font-size: 20px;
            color: var(--main);
            margin: 0;
            &.title {
                margin: var(--space-mobile) 0;
                font-weight: 700;
            }
        }
        a {
            text-decoration: none;
            button {
                @include button;
                width: 290px;
                height: 50px;
                background-color: rgb(64, 55, 78, 0.75);
                font-size: 20px;
                color: var(--gray);
                border: var(--gray);
                margin-top: var(--space-mobile);
                &:hover {
                    color: var(--main-second);
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #error {
        height: 475px;
        h2 {
            font-size: 37px;
            top: 120px;
            left: 28vw;
        }
        img {
            width: 50%;
            bottom: 0;
            top: initial;
        }
        div {
            width: 40%;
            top: 190px;
            right: var(--space-desktop);
            background-color: transparent;
            p {
                font-size: 16.33333333333px;
            }
        }
    }
}

@media (min-width: 992px) {
    #error {
        height: 100vh;
        margin-top: -135px;
        h1 {
            transform: rotate(45deg);
            top: var(--space-desktop);
            right: 0;
        }
        h2 {
            top: 150px;
            left: var(--space-desktop);
            font-size: 50px;
        }
        div {
            top: initial;
            bottom: 0;
            p {
                font-size: 22px;
            }
        }
    }
}

@media (min-width: 1500px) {
    #error {
        h1 {
            font-size: 180px;
        }
    }
}