#contact {
    width: 100%;
    height: 100vh;
    background-image: url('../images/photos/contact-map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -24em;
    margin-top: -55px;
    position: relative;
    .contact-box {
        width: 90vw;
        max-width: 360px;
        max-height: 60vh;
        margin: 0 auto;
        margin-top: 35vh;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(64, 55, 78, 0.75);
        h1, p {
            color: var(--gray);
            font-weight: 700;
        }
        h1 {
            font-size: 30px;
            text-align: center;
        }
        form {
            flex-direction: column;
            align-items: flex-start;
            padding-left: var(--space-mobile);
            margin-bottom: var(--space-mobile);
            label {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 700;
                color: var(--gray);
            }

            input, textarea {
                background: none;
                width: 200px;
                border: none;
                border-bottom: solid 2px var(--gray);
            }
            button {
                @include button;
                width: 120px;
                height: 40px;
                background-color: var(--main-second);
                border: solid 2px var(--gray);
                color: var(--gray);
                margin-top: 10px;
                font-size: 20px;
            }
        }
        p {
            margin: 0;
            text-align: right;
            padding-bottom: var(--space-mobile);
            padding-right: var(--space-mobile);
            font-size: 15px;
        }
    }
}

@media (min-width: 768px) {
    #contact {
        background-position-x: initial;
        .contact-box {
            margin-left: var(--space-desktop);
        }
    }
}

@media (min-width: 992px) {
    #contact {
        margin-top: -135px;
    }
}

@media (min-width: 1500px) {
    #contact {
        .contact-box {
            margin-left: calc(var(--space-desktop) + 80px);
            max-width: 500px;
        }
    }
}