#home {
    flex-direction: column;
    .full-banner-home {
        width: 100%;
        height: 100vh;
        background-image: url('../images/photos/full-banner-home.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: 48%;
        margin-top: -55px;
        position: relative;
        .help {
            width: calc(100% - calc(2 * var(--space-mobile)));
            margin: 0 var(--space-mobile);
            max-width: 1000px;
            position: absolute;
            bottom: 30%;
            border-bottom: solid 2px var(--main);
            justify-content: center;
            align-items: center;
            img {
                width: 50px;
                height: 50px;
                margin-right: var(--space-mobile);
            }
            input {
                background: transparent;
                border: none;
                width: 225px;
                padding: var(--space-mobile) 0;
                cursor: pointer;
                &::-webkit-input-placeholder {
                    font-size: 17px;
                    color: var(--main);
                }
                &:focus {
                    background: transparent;
                    border: transparent;
                }
            }
            input + img {
                height: 30px;
                width: 20px;
                margin-left: var(--space-mobile);
                margin-right: 0;
            }
        }
    }
    .stores {
        width: 100%;
        height: 100vh;
        > div {
            width: calc(100% / 3);
            height: 100vh;
            position: relative;
            flex-direction: row;
            cursor: pointer;
            a {
                width: 100%;
                text-decoration: none;
                position: absolute;
                transform: rotate(270deg);
                margin: 0;
                bottom: 50%;
                font-size: 20px;
                font-weight: 500;
                color: var(--main);
            }
            img {
                width: 125px;
                position: absolute;
                bottom: var(--space-desktop);
                &.hover {
                    display: none;
                }
            }
            &.odd {
                background-color: var(--gray);
                display: none;
            }
            &.food {
                &:hover,
                &:focus {
                    background-color: rgb(248, 207, 38, 0.3);
                    transition: all 0.4s ease-in-out;
                    a {
                        color: rgb(248, 207, 38);
                    }
                    img {
                        display: none;
                        &.hover {
                            display: flex;
                            animation-delay: .2s;
                        }
                    }
                }
            }
            &.dress {
                &:hover,
                &:focus {
                    background-color: rgb(236, 135, 192, 0.3);
                    transition: all 0.4s ease-in-out;
                    a {
                        color: rgb(236, 135, 192);
                    }
                    img {
                        display: none;
                        &.hover {
                            display: flex;
                            animation-delay: .2s;
                        }
                    }
                }
            }
            &.game {
                &:hover,
                &:focus {
                    background-color: rgb(69, 77, 88, 0.3);
                    transition: all 0.4s ease-in-out;
                    a {
                        color: rgb(69, 77, 88);
                    }
                    img {
                        display: none;
                        &.hover {
                            display: flex;
                            animation-delay: .2s;
                        }
                    }
                }
            }
        }
    }
    .movie {
        background-image: url('../images/photos/Grupo-de-máscara-3.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: -45em;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        .movie-bg {
            background-color: rgb(230, 20, 20, 0.5);
            width: 100%;
            height: 100vh;
            flex-direction: column;
            h2 {
                margin: 0 auto;
                margin-top: var(--space-mobile);
                font-size: 20px;
                font-weight: 700;
                color: var(--gray);
            }
            .movie-of-week {
                flex-direction: column;
                width: 100%;
                .movie-cover {
                    width: 100%;
                    img {
                        height: 350px;
                        margin: 0 auto;
                        margin-top: var(--space-mobile);
                    }
                }
            }
            .movie-title {
                flex-direction: column;
                p {
                    margin: var(--space-mobile) auto;
                    font-size: 30px;
                    font-weight: 700;
                    color: var(--gray);
                }
                a {
                    text-decoration: none;
                    button {
                        @include button;
                        width: 200px;
                        height: 60px;
                        margin-left: calc(50% - 100px);
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .services {
        width: 100%;
        flex-direction: column;
        margin-bottom: var(--space-mobile);
        .services-title {
            width: 100%;
            display: inline;
            margin-top: var(--space-mobile);
            h3 {
                text-align: center;
                font-size: 20px;
                font-weight: 700;
                color: var(--main);
            }
        }
        .services-cards {
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            a {
                text-decoration: none;
                padding: 0 10px;
                > div {
                    width: 162px;
                    height: 162px;
                    margin: auto;
                    background-color: var(--gray);
                    margin-top: var(--space-mobile);
                    border: 1px solid var(--main);
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        background-color: rgb(64, 55, 78, 0.5);
                    }
                    img {
                        width: 80px;
                        height: 80px;
                        margin: var(--space-mobile) 0;
                    }
                    p {
                        margin: 0 auto;
                        font-size: 13px;
                        color: var(--main);
                    }
                }
            }
        }
    }
}



@media (min-width: 992px) {
    #home {
        .full-banner-home {
            margin-top: -135px;
            justify-content: center;
            background-image: url('../images/photos/full-banner-home-2x.jpg');
            .help {
                width: 600px;
                img {
                    width: 100px;
                    height: 100px;
                    padding-bottom: 10px;
                }
                input {
                    width: 600px;
                    &::-webkit-input-placeholder {
                        font-size: 30px;
                    }
                }
                input + img {
                    height: 70px;
                    width: 40px;
                }
            }
        }
        .movie {
            background-image: url('../images/photos/Grupo-de-máscara-3_2x.jpg');
        }
        .services {
            height: 100vh;
            margin-bottom: var(--space-desktop);
            .services-cards {
                max-width: 1300px;
                margin: 0 auto;
                a {
                    > div {
                        width: 302px;
                        height: 302px;
                        img {
                            width: 150px;
                            height: 150px;
                        }
                        p {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    #home {
        .stores {
            > div {
                &.odd {
                    display: flex;
                }
                &.tv {
                    &:hover,
                    &:focus {
                        background-color: rgb(7, 72,94, 0.3);
                        transition: all 0.4s ease-in-out;
                        a {
                            color: rgb(7, 72, 94);
                        }
                        img {
                            display: none;
                            &.hover {
                                display: flex;
                                animation-delay: .2s;
                            }
                        }
                    }
                }
                &.jewels {
                    &:hover,
                    &:focus {
                        background-color: rgb(41, 128,186, 0.3);
                        transition: all 0.4s ease-in-out;
                        a {
                            color: rgb(41, 128, 186);
                        }
                        img {
                            display: none;
                            &.hover {
                                display: flex;
                                animation-delay: .2s;
                            }
                        }
                    }
                }
                &.shoes {
                    &:hover,
                    &:focus {
                        background-color: rgb(172, 146,236, 0.3);
                        transition: all 0.4s ease-in-out;
                        a {
                            color: rgb(172, 146, 236);
                        }
                        img {
                            display: none;
                            &.hover {
                                display: flex;
                                animation-delay: .2s;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    #home {
        .full-banner-home {
            .help {
                bottom: 20%;
            }
        }
        .stores {
            > div {
                width: calc(100% / 6);
                a {
                    bottom: initial;
                    top: 17%;
                    font-size: 20px;
                    font-weight: 700;
                }
                img {
                    width: 200px;
                }
            }
        }
        .movie {
            background-position-x: center;
            .movie-bg {
                justify-content: center;
                h2 {
                    font-size: 30px;
                }
                .movie-of-week {
                    flex-direction: row;
                    margin: auto;
                    margin-bottom: var(--space-desktop);
                    width: 1140px;
                    .movie-cover {
                        width: initial;
                        img {
                            height: 450px;
                            margin: 0 var(--space-desktop);
                            margin-top: var(--space-desktop);
                        }
                    }
                    .movie-title {
                        width: initial;
                        margin: auto 0;
                        p {
                            font-size: 100px;
                        }
                        button {
                            @include button;
                            width: initial;
                            height: 100px;
                            margin-left: initial;
                            font-size: initial;
                            max-width: 420px;
                            font-size: 40px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1500px) {
    #home {
        .stores {
            > div {
                img {
                    width: 240px;
                }
            }
        }
    }
}