#inform {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    .inform-text {
        flex-direction: column;
        align-items: flex-start;
        padding: var(--space-mobile);
        h1, p {
            margin: 0;
            color: var(--main);
            text-align: left;
            padding: var(--space-mobile);
        }
        h1 {
            font-size: 30px;
            font-weight: 700;
        }
        p {
            padding-top: 0;
        }
    }
    img {
        width: 100vw;
    }
}

@media (min-width: 768px) {
    #inform {
        height: initial;
        flex-direction: row;
        .inform-text {
            margin-top: 50px;
        }
        img {
            width: 400px;
        }
    }
}

@media (min-width: 1200px) {
    #inform {
        .inform-text {
            padding: var(--space-desktop);
            h1 {
                font-size: 50px;
            }
            p {
                font-size: 30px;
            }
        }
        img {
            width: 500px;
        }
    }
}

@media (min-width: 1680px) {
    #inform {
       .inform-text {
           h1 {
               font-size: 70px;
           }
       }
        img {
            width: 900px;
        }
    }
}