@import 'default.scss';
@import 'variables.scss';
@import 'fonts.scss';
@import 'mixin.scss';
@import 'animate.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'home.scss';
@import 'terms-politic.scss';