#phone {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
    position: relative;
    flex-direction: column;
    margin-top: -55px;
    .phone-title {
        padding: var(--space-mobile);
        h1 {
            margin: 0;
            margin-top: 75px;
            color: var(--main);
            font-weight: 700;
            font-size: 30px;
        }
    }
    .phone-image {
        img {
            width: 370px;
            margin: auto;
        }
    }
    .phone-floor {
        img {
            width: 300px;
            padding: var(--space-mobile);
            margin: auto;
        }
    }
}

@media (min-width: 992px) {
    #phone {
        margin-top: -135px;
        justify-content: left;
        align-items: flex-start;
        .phone-title,
        .phone-floor {
            width: 50%;
        }
        .phone-image {
            position: absolute;
            bottom: 0;
            right: var(--space-desktop);
        }
        .phone-title {
            margin-top: 100px;
            padding: var(--space-desktop);
        }
        .phone-floor {
            padding-bottom: var(--space-desktop);
        }
    }
}

@media (min-width: 1500px) {
    #phone {
        .phone-title {
            h1 {
                font-size: 50px;
            }
        }
        .phone-floor {
            img {
                width: 500px;
            }
        }
        .phone-image {
            img {
                width: 40vw;
            }
        }
    }
}

@media (min-width: 1680px) {
    #phone {
        .phone-image {
            img {
                width: 35vw;
            }
        }
    }
}