#shops {
    width: 100%;
    flex-direction: column;
    position: relative;
    margin-top: -55px;
    &.shops-jewels {
        background-color: rgb(41,128,186,0.3);        
    }
    &.shops-food {
        background-color: rgb(255,147,30,0.3);        
    }
    &.shops-shoes {
        background-color: rgb(172,146,236,0.3);        
    }
    &.shops-tv {
        background-color: rgb(96,209,247,0.3);        
    }
    &.shops-dress {
        background-color: rgb(236,135,192,0.3);        
    }
    &.shops-game {
        background-color: rgb(69,77,88,0.3);        
    }
    .shops-title {
        margin-top: calc(55px + var(--space-mobile));
       
        padding-right: 10%;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        h1, h2 {
            font-size: 25px;
            font-weight: 700;
            color: Var(--main);
        }
        h1 {
            margin: auto 0;
        }
        h2 {
            text-align: center;
        }
        hr {
            
            height: 50px;
            margin: auto 0;
            width: 5px;
            background-color: var(--main);
            border-color: var(--main);
        }
    }
    .shops-only-desktop {
        flex-direction: column;
        .shops-content {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            div {
                flex-direction: column;
                align-items: flex-start;
                padding-left: var(--space-mobile);
                margin-bottom: var(--space-mobile);
            }
            &.content-column {                
                flex-direction: row;
            }
            p {
                font-size: 20px;
                margin: var(--space-mobile) 0;
                color: var(--main);
                &:hover {
                    color: var(--gray);
                }
            }
        }
        img {
            width: 150px;
            height: 150px;
            margin-left: var(--space-mobile);
            margin-bottom: var(--space-mobile);
        }
    }
}

@media (min-width: 768px) {
    #shops {
        .shops-title {
            max-width: 500px;
            margin-left: calc(50% - 250px);
        }
        .shops-only-desktop {
            flex-direction: row-reverse;
            justify-content: center;
            align-items: flex-end;
            margin-bottom: var(--space-desktop);
            .shops-content {
                margin-right: 80px;
            }
            img {
                margin-left: 0;
                margin-right: 100px;
                height: 200px;
                width: 200px;
            }
        }
    }
}

@media (min-width: 992px) {
    #shops {
        margin-top: -135px;
        .shops-title {
            margin-top: 100px;
        }
        .shops-only-desktop {
            .shops-content {
                div {
                    padding-left: var(--space-desktop);
                    margin-bottom: var(--space-desktop);
                }
            }
            img {
                margin-left: var(--space-desktop);
            }
        }
    }
}

@media (min-width: 1500px) {
    #shops {
        .shops-title {
            max-width: 1000px;
            margin-left: calc(50% - 500px);
            margin-bottom: var(--space-desktop);
            margin-top: 100px;
            h1, h2 {
                font-size: 50px;
            }
        }
        .shops-only-desktop {
            img {
                width: 300px;
                height: 300px;
                margin-left: -250px;
            }
        }
    }
}