:root {

    --white: #fff;
    --black: #000;
    --main: #25212C;
    --main-green: #125112;
    --gray: #F0F0F0;
    --purple-2: rgb(64, 55, 78, 0.2);
    --main-second: #40374E;

    --space-mobile: 20px;
    --space-desktop: 50px;
}