@charset "UTF-8";
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

body, div, footer, header, main, nav, section, ul, ol, li, button, form {
  display: flex;
}

body {
  margin: 0;
  flex-direction: column;
  background-color: var(--white);
}
body.stop-scroll {
  overflow: hidden;
}
body > main {
  min-height: calc(100vh - 400px);
}

@media (min-width: 1200px) {
  body > main {
    min-height: calc(100vh - 341px);
  }
}
:root {
  --white: #fff;
  --black: #000;
  --main: #25212C;
  --main-green: #125112;
  --gray: #F0F0F0;
  --main-second: #40374E;
  --space-mobile: 20px;
  --space-desktop: 50px;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Regular"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Medium"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat SemiBold"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@keyframes menu {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-menu {
  animation-name: menu;
  animation-duration: 0.6s;
  animation-fill-mode: backwards;
}

#header {
  width: 100%;
  height: 55px;
  z-index: 2;
}
#header .menu .btn-open {
  width: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  margin-left: var(--space-mobile);
}
#header .menu .btn-open svg {
  width: 40px;
  height: 15px;
  margin: auto 0;
}
#header .menu .btn-close {
  display: none;
}
#header .menu nav {
  display: none;
}
#header .menu .logo {
  display: none;
}
#header .menu h1 {
  position: absolute;
  right: var(--space-mobile);
  font-size: 20px;
  font-weight: 700;
  color: var(--main);
}
#header .open {
  width: 100%;
  height: 100vh;
  background-color: var(--main);
  flex-direction: column;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
#header .open .btn-open {
  display: none;
}
#header .open .btn-close {
  display: flex;
  position: absolute;
  width: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  top: var(--space-mobile);
  left: var(--space-mobile);
}
#header .open .btn-close svg {
  width: 40px;
  height: 15px;
  margin: auto 0;
}
#header .open nav {
  margin-top: 100px;
}
#header .open nav ul {
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}
#header .open nav ul li a {
  text-decoration: none;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  color: var(--gray);
  padding: var(--space-mobile) 0;
}
#header .open nav ul li a:hover {
  color: var(--main-green);
}
#header .open h1 {
  position: absolute;
  right: var(--space-mobile);
  font-size: 20px;
  font-weight: 700;
  color: var(--gray);
}
#header .open .logo {
  position: absolute;
  margin-top: calc(100vh - 140px);
  margin-left: calc(50% - 60px);
}

@media (min-width: 992px) {
  #header {
    height: 135px;
  }
  #header .menu .btn-open {
    width: 80px;
    margin-left: var(--space-desktop);
    z-index: 5;
  }
  #header .menu .btn-open svg {
    width: 80px;
    height: 35px;
    margin: auto 0;
  }
  #header .menu h1 {
    width: 100vw;
    font-size: 30px;
    margin: 0;
    right: initial;
    top: 48px;
    display: inline;
    text-align: center;
  }
  #header .open .btn-close {
    width: 80px;
    z-index: 5;
    top: var(--space-desktop);
    left: var(--space-desktop);
  }
  #header .open .btn-close svg {
    width: 80px;
    height: 35px;
    margin: auto 0;
  }
  #header .open nav {
    margin-top: 165px;
  }
  #header .open nav ul li a {
    font-size: 30px;
  }
  #header .open h1 {
    width: 100vw;
    font-size: 30px;
    margin: 0;
    right: initial;
    top: 48px;
    display: inline;
    text-align: center;
  }
}
#footer {
  width: 100%;
  background-color: var(--main);
  flex-direction: column;
  padding: 0 var(--space-mobile);
}
#footer > div p {
  margin: 0;
}
#footer > div small, #footer > div strong, #footer > div p, #footer > div a {
  color: var(--gray);
  font-size: 20px;
  margin-bottom: var(--space-mobile);
}
#footer > div p {
  font-size: 15px;
}
#footer > div strong {
  font-weight: 700;
}
#footer > div a {
  text-decoration: none;
}
#footer .footer-logo {
  display: none;
}
#footer .footer-media {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer .footer-media strong {
  margin-top: var(--space-mobile);
}
#footer .footer-media > div {
  flex-direction: row;
}
#footer .footer-media > div a {
  padding: var(--space-mobile) 10px;
}
#footer .footer-adress,
#footer .footer-clock,
#footer .footer-links {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}
#footer .footer-links {
  margin-top: var(--space-mobile);
  padding-top: var(--space-mobile);
  border-top: 2px solid var(--gray);
}

@media (min-width: 1200px) {
  #footer {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: var(--space-desktop);
  }
  #footer .footer-logo {
    display: flex;
  }
  #footer .footer-media strong {
    margin-top: 0;
  }
  #footer .footer-links {
    border-top: none;
    margin-top: 0;
    padding-left: var(--space-desktop);
    border-left: 2px solid var(--gray);
  }
}
#home {
  flex-direction: column;
}
#home .full-banner-home {
  width: 100%;
  height: 100vh;
  background-image: url("../images/photos/full-banner-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 48%;
  margin-top: -55px;
  position: relative;
}
#home .full-banner-home .help {
  width: calc(100% - calc(2 * var(--space-mobile)));
  margin: 0 var(--space-mobile);
  max-width: 1000px;
  position: absolute;
  bottom: 30%;
  border-bottom: solid 2px var(--main);
  justify-content: center;
  align-items: center;
}
#home .full-banner-home .help img {
  width: 50px;
  height: 50px;
  margin-right: var(--space-mobile);
}
#home .full-banner-home .help input {
  background: transparent;
  border: none;
  width: 225px;
  padding: var(--space-mobile) 0;
  cursor: pointer;
}
#home .full-banner-home .help input::-webkit-input-placeholder {
  font-size: 17px;
  color: var(--main);
}
#home .full-banner-home .help input:focus {
  background: transparent;
  border: transparent;
}
#home .full-banner-home .help input + img {
  height: 30px;
  width: 20px;
  margin-left: var(--space-mobile);
  margin-right: 0;
}
#home .stores {
  width: 100%;
  height: 100vh;
}
#home .stores > div {
  width: calc(100% / 3);
  height: 100vh;
  position: relative;
  flex-direction: row;
}
#home .stores > div a {
  width: 100%;
  text-decoration: none;
  position: absolute;
  transform: rotate(270deg);
  margin: 0;
  bottom: 50%;
  font-size: 20px;
  font-weight: 500;
  color: var(--main);
}
#home .stores > div img {
  width: 125px;
  position: absolute;
  bottom: var(--space-desktop);
}
#home .stores > div img.hover {
  display: none;
}
#home .stores > div.odd {
  background-color: var(--gray);
  display: none;
}
#home .stores > div.food:hover, #home .stores > div.food:focus {
  background-color: rgba(248, 207, 38, 0.3);
  transition: all 0.4s ease-in-out;
}
#home .stores > div.food:hover a, #home .stores > div.food:focus a {
  color: #f8cf26;
}
#home .stores > div.food:hover img, #home .stores > div.food:focus img {
  display: none;
}
#home .stores > div.food:hover img.hover, #home .stores > div.food:focus img.hover {
  display: flex;
  animation-delay: 0.2s;
}
#home .stores > div.dress:hover, #home .stores > div.dress:focus {
  background-color: rgba(236, 135, 192, 0.3);
  transition: all 0.4s ease-in-out;
}
#home .stores > div.dress:hover a, #home .stores > div.dress:focus a {
  color: #ec87c0;
}
#home .stores > div.dress:hover img, #home .stores > div.dress:focus img {
  display: none;
}
#home .stores > div.dress:hover img.hover, #home .stores > div.dress:focus img.hover {
  display: flex;
  animation-delay: 0.2s;
}
#home .stores > div.game:hover, #home .stores > div.game:focus {
  background-color: rgba(69, 77, 88, 0.3);
  transition: all 0.4s ease-in-out;
}
#home .stores > div.game:hover a, #home .stores > div.game:focus a {
  color: #454d58;
}
#home .stores > div.game:hover img, #home .stores > div.game:focus img {
  display: none;
}
#home .stores > div.game:hover img.hover, #home .stores > div.game:focus img.hover {
  display: flex;
  animation-delay: 0.2s;
}
#home .movie {
  background-image: url("../images/photos/Grupo de máscara 3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: -45em;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
#home .movie .movie-bg {
  background-color: rgba(230, 20, 20, 0.5);
  width: 100%;
  height: 100vh;
  flex-direction: column;
}
#home .movie .movie-bg h2 {
  margin: 0 auto;
  margin-top: var(--space-mobile);
  font-size: 20px;
  font-weight: 700;
  color: var(--gray);
}
#home .movie .movie-bg .movie-of-week {
  flex-direction: column;
  width: 100%;
}
#home .movie .movie-bg .movie-of-week .movie-cover {
  width: 100%;
}
#home .movie .movie-bg .movie-of-week .movie-cover img {
  height: 350px;
  margin: 0 auto;
  margin-top: var(--space-mobile);
}
#home .movie .movie-bg .movie-title {
  flex-direction: column;
}
#home .movie .movie-bg .movie-title p {
  margin: var(--space-mobile) auto;
  font-size: 30px;
  font-weight: 700;
  color: var(--gray);
}
#home .movie .movie-bg .movie-title button {
  width: 220px;
  min-width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: var(--gray);
  font-size: 30px;
  font-weight: 700;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  width: 200px;
  height: 60px;
  margin-left: calc(50% - 100px);
  font-size: 20px;
}
#home .movie .movie-bg .movie-title button:hover {
  background-color: var(--white);
}
#home .services {
  width: 100%;
  flex-direction: column;
}
#home .services .services-title {
  width: 100%;
  display: inline;
  margin-top: var(--space-mobile);
}
#home .services .services-title h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: var(--main);
}
#home .services .services-cards {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
#home .services .services-cards a {
  text-decoration: none;
  padding: 0 10px;
}
#home .services .services-cards a > div {
  width: 162px;
  height: 162px;
  margin: auto;
  background-color: var(--gray);
  margin-top: var(--space-mobile);
  border: 1px solid var(--main);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home .services .services-cards a > div:hover {
  background-color: rgba(64, 55, 78, 0.5);
}
#home .services .services-cards a > div img {
  width: 80px;
  height: 80px;
  margin: var(--space-mobile) 0;
}
#home .services .services-cards a > div p {
  margin: 0 auto;
  font-size: 13px;
  color: var(--main);
}

@media (min-width: 992px) {
  #home .full-banner-home {
    margin-top: -135px;
    justify-content: center;
  }
  #home .full-banner-home .help {
    width: 600px;
  }
  #home .full-banner-home .help img {
    width: 100px;
    height: 100px;
    padding-bottom: 10px;
  }
  #home .full-banner-home .help input {
    width: 600px;
  }
  #home .full-banner-home .help input::-webkit-input-placeholder {
    font-size: 30px;
  }
  #home .full-banner-home .help input + img {
    height: 70px;
    width: 40px;
  }
  #home .services {
    height: 100vh;
    margin-bottom: var(--space-desktop);
  }
  #home .services .services-cards {
    max-width: 1300px;
    margin: 0 auto;
  }
  #home .services .services-cards a > div {
    width: 302px;
    height: 302px;
  }
  #home .services .services-cards a > div img {
    width: 150px;
    height: 150px;
  }
  #home .services .services-cards a > div p {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  #home .stores > div.odd {
    display: flex;
  }
  #home .stores > div.tv:hover, #home .stores > div.tv:focus {
    background-color: rgba(7, 72, 94, 0.3);
    transition: all 0.4s ease-in-out;
  }
  #home .stores > div.tv:hover a, #home .stores > div.tv:focus a {
    color: #07485e;
  }
  #home .stores > div.tv:hover img, #home .stores > div.tv:focus img {
    display: none;
  }
  #home .stores > div.tv:hover img.hover, #home .stores > div.tv:focus img.hover {
    display: flex;
    animation-delay: 0.2s;
  }
  #home .stores > div.jewels:hover, #home .stores > div.jewels:focus {
    background-color: rgba(41, 128, 186, 0.3);
    transition: all 0.4s ease-in-out;
  }
  #home .stores > div.jewels:hover a, #home .stores > div.jewels:focus a {
    color: #2980ba;
  }
  #home .stores > div.jewels:hover img, #home .stores > div.jewels:focus img {
    display: none;
  }
  #home .stores > div.jewels:hover img.hover, #home .stores > div.jewels:focus img.hover {
    display: flex;
    animation-delay: 0.2s;
  }
  #home .stores > div.shoes:hover, #home .stores > div.shoes:focus {
    background-color: rgba(172, 146, 236, 0.3);
    transition: all 0.4s ease-in-out;
  }
  #home .stores > div.shoes:hover a, #home .stores > div.shoes:focus a {
    color: #ac92ec;
  }
  #home .stores > div.shoes:hover img, #home .stores > div.shoes:focus img {
    display: none;
  }
  #home .stores > div.shoes:hover img.hover, #home .stores > div.shoes:focus img.hover {
    display: flex;
    animation-delay: 0.2s;
  }
}
@media (min-width: 1200px) {
  #home .full-banner-home .help {
    bottom: 20%;
  }
  #home .stores > div {
    width: calc(100% / 6);
  }
  #home .stores > div a {
    bottom: initial;
    top: 17%;
    font-size: 20px;
    font-weight: 700;
  }
  #home .stores > div img {
    width: 200px;
  }
  #home .movie {
    background-position-x: center;
  }
  #home .movie .movie-bg {
    justify-content: center;
  }
  #home .movie .movie-bg h2 {
    font-size: 30px;
  }
  #home .movie .movie-bg .movie-of-week {
    flex-direction: row;
    margin: auto;
    margin-bottom: var(--space-desktop);
    width: 1140px;
  }
  #home .movie .movie-bg .movie-of-week .movie-cover {
    width: initial;
  }
  #home .movie .movie-bg .movie-of-week .movie-cover img {
    height: 450px;
    margin: 0 var(--space-desktop);
    margin-top: var(--space-desktop);
  }
  #home .movie .movie-bg .movie-of-week .movie-title {
    width: initial;
    margin: auto 0;
  }
  #home .movie .movie-bg .movie-of-week .movie-title p {
    font-size: 100px;
  }
  #home .movie .movie-bg .movie-of-week .movie-title button {
    width: 220px;
    min-width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: var(--gray);
    font-size: 30px;
    font-weight: 700;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    width: initial;
    height: 100px;
    margin-left: initial;
    font-size: initial;
    max-width: 420px;
    font-size: 40px;
  }
  #home .movie .movie-bg .movie-of-week .movie-title button:hover {
    background-color: var(--white);
  }
}
@media (min-width: 1500px) {
  #home .stores > div img {
    width: 240px;
  }
}

/*# sourceMappingURL=main.css.map */
