@charset "UTF-8";
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

body, div, footer, header, main, nav, section, ul, ol, li, button, form {
  display: flex;
}

body {
  margin: 0;
  flex-direction: column;
  background-color: var(--white);
}
body.stop-scroll {
  overflow: hidden;
}
body > main {
  min-height: calc(100vh - 400px);
}

@media (min-width: 1200px) {
  body > main {
    min-height: calc(100vh - 341px);
  }
}
:root {
  --white: #fff;
  --black: #000;
  --main: #25212C;
  --main-green: #125112;
  --gray: #F0F0F0;
  --purple-2: rgb(64, 55, 78, 0.2);
  --main-second: #40374E;
  --space-mobile: 20px;
  --space-desktop: 50px;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Regular"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Medium"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat SemiBold"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@keyframes menu {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-menu {
  animation-name: menu;
  animation-duration: 0.6s;
  animation-fill-mode: backwards;
}

#header {
  width: 100%;
  height: 55px;
  z-index: 2;
}
#header.park-menu .menu .btn-open svg.menu-black {
  display: none;
}
#header.park-menu .menu .btn-open svg.menu-white {
  display: flex;
}
#header.park-menu .menu h1 {
  color: var(--gray);
}
#header .menu .btn-open {
  width: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  margin-left: var(--space-mobile);
}
#header .menu .btn-open.menu-white {
  display: none;
}
#header .menu .btn-open svg {
  width: 40px;
  height: 15px;
  margin: auto 0;
}
#header .menu .btn-close {
  display: none;
}
#header .menu nav {
  display: none;
}
#header .menu .logo {
  display: none;
}
#header .menu h1 {
  position: absolute;
  right: var(--space-mobile);
  font-size: 20px;
  font-weight: 700;
  color: var(--main);
}
#header .open {
  width: 100%;
  height: 100vh;
  background-color: var(--main);
  flex-direction: column;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
#header .open .btn-open {
  display: none;
}
#header .open .btn-close {
  display: flex;
  position: absolute;
  width: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  top: var(--space-mobile);
  left: var(--space-mobile);
}
#header .open .btn-close svg {
  width: 40px;
  height: 15px;
  margin: auto 0;
}
#header .open nav {
  margin-top: 100px;
}
#header .open nav ul {
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}
#header .open nav ul li a {
  text-decoration: none;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  color: var(--gray);
  padding: var(--space-mobile) 0;
}
#header .open nav ul li a:hover {
  color: var(--main-green);
}
#header .open h1 {
  display: none;
}
#header .open .logo {
  position: absolute;
  margin-top: calc(100vh - 140px);
  margin-left: calc(50% - 60px);
}

@media (min-width: 768px) {
  #header.park-menu .menu .btn-open svg.menu-black {
    display: flex;
  }
  #header.park-menu .menu .btn-open svg.menu-white {
    display: none;
  }
  #header.park-menu .menu h1 {
    color: var(--main);
  }
}
@media (min-width: 992px) {
  #header {
    height: 135px;
  }
  #header .menu .btn-open {
    width: 80px;
    margin-left: var(--space-desktop);
    z-index: 5;
  }
  #header .menu .btn-open svg {
    width: 80px;
    height: 35px;
    margin: auto 0;
  }
  #header .menu h1 {
    width: 100%;
    max-width: calc(100% - 130px);
    font-size: 30px;
    margin: 0;
    right: initial;
    top: 48px;
    display: inline;
    text-align: center;
  }
  #header .open .btn-close {
    width: 80px;
    z-index: 5;
    top: var(--space-desktop);
    left: var(--space-desktop);
  }
  #header .open .btn-close svg {
    width: 80px;
    height: 35px;
    margin: auto 0;
  }
  #header .open nav {
    margin-top: 165px;
  }
  #header .open nav ul li a {
    font-size: 25px;
  }
  #header .open a h1 {
    display: none;
  }
}
#footer {
  width: 100%;
  background-color: var(--main);
  flex-direction: column;
  padding: 0 var(--space-mobile);
}
#footer > div p {
  margin: 0;
}
#footer > div small, #footer > div strong, #footer > div p, #footer > div a {
  color: var(--gray);
  font-size: 20px;
  margin-bottom: var(--space-mobile);
}
#footer > div p {
  font-size: 15px;
}
#footer > div strong {
  font-weight: 700;
}
#footer > div a {
  text-decoration: none;
}
#footer > div a:hover {
  color: var(--main-green);
}
#footer .footer-logo {
  display: none;
}
#footer .footer-media {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer .footer-media strong {
  margin-top: var(--space-mobile);
}
#footer .footer-media > div {
  flex-direction: row;
}
#footer .footer-media > div a {
  padding: var(--space-mobile) 10px;
}
#footer .footer-adress,
#footer .footer-clock,
#footer .footer-links {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}
#footer .footer-links {
  margin-top: var(--space-mobile);
  padding-top: var(--space-mobile);
  border-top: 2px solid var(--gray);
}

@media (min-width: 1200px) {
  #footer {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: var(--space-desktop);
  }
  #footer .footer-logo {
    display: flex;
  }
  #footer .footer-media strong {
    margin-top: 0;
  }
  #footer .footer-links {
    border-top: none;
    margin-top: 0;
    padding-left: var(--space-desktop);
    border-left: 2px solid var(--gray);
  }
}
#home {
  flex-direction: column;
}
#home .full-banner-home {
  width: 100%;
  height: 100vh;
  background-image: url("../images/photos/full-banner-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 48%;
  margin-top: -55px;
  position: relative;
}
#home .full-banner-home .help {
  width: calc(100% - calc(2 * var(--space-mobile)));
  margin: 0 var(--space-mobile);
  max-width: 1000px;
  position: absolute;
  bottom: 30%;
  border-bottom: solid 2px var(--main);
  justify-content: center;
  align-items: center;
}
#home .full-banner-home .help img {
  width: 50px;
  height: 50px;
  margin-right: var(--space-mobile);
}
#home .full-banner-home .help input {
  background: transparent;
  border: none;
  width: 225px;
  padding: var(--space-mobile) 0;
  cursor: pointer;
}
#home .full-banner-home .help input::-webkit-input-placeholder {
  font-size: 17px;
  color: var(--main);
}
#home .full-banner-home .help input:focus {
  background: transparent;
  border: transparent;
}
#home .full-banner-home .help input + img {
  height: 30px;
  width: 20px;
  margin-left: var(--space-mobile);
  margin-right: 0;
}
#home .stores {
  width: 100%;
  height: 100vh;
}
#home .stores > div {
  width: calc(100% / 3);
  height: 100vh;
  position: relative;
  flex-direction: row;
  cursor: pointer;
}
#home .stores > div a {
  width: 100%;
  text-decoration: none;
  position: absolute;
  transform: rotate(270deg);
  margin: 0;
  bottom: 50%;
  font-size: 20px;
  font-weight: 500;
  color: var(--main);
}
#home .stores > div img {
  width: 125px;
  position: absolute;
  bottom: var(--space-desktop);
}
#home .stores > div img.hover {
  display: none;
}
#home .stores > div.odd {
  background-color: var(--gray);
  display: none;
}
#home .stores > div.food:hover, #home .stores > div.food:focus {
  background-color: rgba(248, 207, 38, 0.3);
  transition: all 0.4s ease-in-out;
}
#home .stores > div.food:hover a, #home .stores > div.food:focus a {
  color: #f8cf26;
}
#home .stores > div.food:hover img, #home .stores > div.food:focus img {
  display: none;
}
#home .stores > div.food:hover img.hover, #home .stores > div.food:focus img.hover {
  display: flex;
  animation-delay: 0.2s;
}
#home .stores > div.dress:hover, #home .stores > div.dress:focus {
  background-color: rgba(236, 135, 192, 0.3);
  transition: all 0.4s ease-in-out;
}
#home .stores > div.dress:hover a, #home .stores > div.dress:focus a {
  color: #ec87c0;
}
#home .stores > div.dress:hover img, #home .stores > div.dress:focus img {
  display: none;
}
#home .stores > div.dress:hover img.hover, #home .stores > div.dress:focus img.hover {
  display: flex;
  animation-delay: 0.2s;
}
#home .stores > div.game:hover, #home .stores > div.game:focus {
  background-color: rgba(69, 77, 88, 0.3);
  transition: all 0.4s ease-in-out;
}
#home .stores > div.game:hover a, #home .stores > div.game:focus a {
  color: #454d58;
}
#home .stores > div.game:hover img, #home .stores > div.game:focus img {
  display: none;
}
#home .stores > div.game:hover img.hover, #home .stores > div.game:focus img.hover {
  display: flex;
  animation-delay: 0.2s;
}
#home .movie {
  background-image: url("../images/photos/Grupo-de-máscara-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: -45em;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
#home .movie .movie-bg {
  background-color: rgba(230, 20, 20, 0.5);
  width: 100%;
  height: 100vh;
  flex-direction: column;
}
#home .movie .movie-bg h2 {
  margin: 0 auto;
  margin-top: var(--space-mobile);
  font-size: 20px;
  font-weight: 700;
  color: var(--gray);
}
#home .movie .movie-bg .movie-of-week {
  flex-direction: column;
  width: 100%;
}
#home .movie .movie-bg .movie-of-week .movie-cover {
  width: 100%;
}
#home .movie .movie-bg .movie-of-week .movie-cover img {
  height: 350px;
  margin: 0 auto;
  margin-top: var(--space-mobile);
}
#home .movie .movie-bg .movie-title {
  flex-direction: column;
}
#home .movie .movie-bg .movie-title p {
  margin: var(--space-mobile) auto;
  font-size: 30px;
  font-weight: 700;
  color: var(--gray);
}
#home .movie .movie-bg .movie-title a {
  text-decoration: none;
}
#home .movie .movie-bg .movie-title a button {
  width: 220px;
  min-width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: var(--gray);
  font-size: 30px;
  font-weight: 700;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  width: 200px;
  height: 60px;
  margin-left: calc(50% - 100px);
  font-size: 20px;
}
#home .movie .movie-bg .movie-title a button:hover {
  background-color: var(--white);
}
#home .services {
  width: 100%;
  flex-direction: column;
  margin-bottom: var(--space-mobile);
}
#home .services .services-title {
  width: 100%;
  display: inline;
  margin-top: var(--space-mobile);
}
#home .services .services-title h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: var(--main);
}
#home .services .services-cards {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
#home .services .services-cards a {
  text-decoration: none;
  padding: 0 10px;
}
#home .services .services-cards a > div {
  width: 162px;
  height: 162px;
  margin: auto;
  background-color: var(--gray);
  margin-top: var(--space-mobile);
  border: 1px solid var(--main);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home .services .services-cards a > div:hover {
  background-color: rgba(64, 55, 78, 0.5);
}
#home .services .services-cards a > div img {
  width: 80px;
  height: 80px;
  margin: var(--space-mobile) 0;
}
#home .services .services-cards a > div p {
  margin: 0 auto;
  font-size: 13px;
  color: var(--main);
}

@media (min-width: 992px) {
  #home .full-banner-home {
    margin-top: -135px;
    justify-content: center;
    background-image: url("../images/photos/full-banner-home-2x.jpg");
  }
  #home .full-banner-home .help {
    width: 600px;
  }
  #home .full-banner-home .help img {
    width: 100px;
    height: 100px;
    padding-bottom: 10px;
  }
  #home .full-banner-home .help input {
    width: 600px;
  }
  #home .full-banner-home .help input::-webkit-input-placeholder {
    font-size: 30px;
  }
  #home .full-banner-home .help input + img {
    height: 70px;
    width: 40px;
  }
  #home .movie {
    background-image: url("../images/photos/Grupo-de-máscara-3_2x.jpg");
  }
  #home .services {
    height: 100vh;
    margin-bottom: var(--space-desktop);
  }
  #home .services .services-cards {
    max-width: 1300px;
    margin: 0 auto;
  }
  #home .services .services-cards a > div {
    width: 302px;
    height: 302px;
  }
  #home .services .services-cards a > div img {
    width: 150px;
    height: 150px;
  }
  #home .services .services-cards a > div p {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  #home .stores > div.odd {
    display: flex;
  }
  #home .stores > div.tv:hover, #home .stores > div.tv:focus {
    background-color: rgba(7, 72, 94, 0.3);
    transition: all 0.4s ease-in-out;
  }
  #home .stores > div.tv:hover a, #home .stores > div.tv:focus a {
    color: #07485e;
  }
  #home .stores > div.tv:hover img, #home .stores > div.tv:focus img {
    display: none;
  }
  #home .stores > div.tv:hover img.hover, #home .stores > div.tv:focus img.hover {
    display: flex;
    animation-delay: 0.2s;
  }
  #home .stores > div.jewels:hover, #home .stores > div.jewels:focus {
    background-color: rgba(41, 128, 186, 0.3);
    transition: all 0.4s ease-in-out;
  }
  #home .stores > div.jewels:hover a, #home .stores > div.jewels:focus a {
    color: #2980ba;
  }
  #home .stores > div.jewels:hover img, #home .stores > div.jewels:focus img {
    display: none;
  }
  #home .stores > div.jewels:hover img.hover, #home .stores > div.jewels:focus img.hover {
    display: flex;
    animation-delay: 0.2s;
  }
  #home .stores > div.shoes:hover, #home .stores > div.shoes:focus {
    background-color: rgba(172, 146, 236, 0.3);
    transition: all 0.4s ease-in-out;
  }
  #home .stores > div.shoes:hover a, #home .stores > div.shoes:focus a {
    color: #ac92ec;
  }
  #home .stores > div.shoes:hover img, #home .stores > div.shoes:focus img {
    display: none;
  }
  #home .stores > div.shoes:hover img.hover, #home .stores > div.shoes:focus img.hover {
    display: flex;
    animation-delay: 0.2s;
  }
}
@media (min-width: 1200px) {
  #home .full-banner-home .help {
    bottom: 20%;
  }
  #home .stores > div {
    width: calc(100% / 6);
  }
  #home .stores > div a {
    bottom: initial;
    top: 17%;
    font-size: 20px;
    font-weight: 700;
  }
  #home .stores > div img {
    width: 200px;
  }
  #home .movie {
    background-position-x: center;
  }
  #home .movie .movie-bg {
    justify-content: center;
  }
  #home .movie .movie-bg h2 {
    font-size: 30px;
  }
  #home .movie .movie-bg .movie-of-week {
    flex-direction: row;
    margin: auto;
    margin-bottom: var(--space-desktop);
    width: 1140px;
  }
  #home .movie .movie-bg .movie-of-week .movie-cover {
    width: initial;
  }
  #home .movie .movie-bg .movie-of-week .movie-cover img {
    height: 450px;
    margin: 0 var(--space-desktop);
    margin-top: var(--space-desktop);
  }
  #home .movie .movie-bg .movie-of-week .movie-title {
    width: initial;
    margin: auto 0;
  }
  #home .movie .movie-bg .movie-of-week .movie-title p {
    font-size: 100px;
  }
  #home .movie .movie-bg .movie-of-week .movie-title button {
    width: 220px;
    min-width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: var(--gray);
    font-size: 30px;
    font-weight: 700;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    width: initial;
    height: 100px;
    margin-left: initial;
    font-size: initial;
    max-width: 420px;
    font-size: 40px;
  }
  #home .movie .movie-bg .movie-of-week .movie-title button:hover {
    background-color: var(--white);
  }
}
@media (min-width: 1500px) {
  #home .stores > div img {
    width: 240px;
  }
}
#contact {
  width: 100%;
  height: 100vh;
  background-image: url("../images/photos/contact-map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -24em;
  margin-top: -55px;
  position: relative;
}
#contact .contact-box {
  width: 90vw;
  max-width: 360px;
  max-height: 60vh;
  margin: 0 auto;
  margin-top: 35vh;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(64, 55, 78, 0.75);
}
#contact .contact-box h1, #contact .contact-box p {
  color: var(--gray);
  font-weight: 700;
}
#contact .contact-box h1 {
  font-size: 30px;
  text-align: center;
}
#contact .contact-box form {
  flex-direction: column;
  align-items: flex-start;
  padding-left: var(--space-mobile);
  margin-bottom: var(--space-mobile);
}
#contact .contact-box form label {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: var(--gray);
}
#contact .contact-box form input, #contact .contact-box form textarea {
  background: none;
  width: 200px;
  border: none;
  border-bottom: solid 2px var(--gray);
}
#contact .contact-box form button {
  width: 220px;
  min-width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: var(--gray);
  font-size: 30px;
  font-weight: 700;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  width: 120px;
  height: 40px;
  background-color: var(--main-second);
  border: solid 2px var(--gray);
  color: var(--gray);
  margin-top: 10px;
  font-size: 20px;
}
#contact .contact-box form button:hover {
  background-color: var(--white);
}
#contact .contact-box p {
  margin: 0;
  text-align: right;
  padding-bottom: var(--space-mobile);
  padding-right: var(--space-mobile);
  font-size: 15px;
}

@media (min-width: 768px) {
  #contact {
    background-position-x: initial;
  }
  #contact .contact-box {
    margin-left: var(--space-desktop);
  }
}
@media (min-width: 992px) {
  #contact {
    margin-top: -135px;
  }
}
@media (min-width: 1500px) {
  #contact .contact-box {
    margin-left: calc(var(--space-desktop) + 80px);
    max-width: 500px;
  }
}
#shops {
  width: 100%;
  flex-direction: column;
  position: relative;
  margin-top: -55px;
}
#shops.shops-jewels {
  background-color: rgba(41, 128, 186, 0.3);
}
#shops.shops-food {
  background-color: rgba(255, 147, 30, 0.3);
}
#shops.shops-shoes {
  background-color: rgba(172, 146, 236, 0.3);
}
#shops.shops-tv {
  background-color: rgba(96, 209, 247, 0.3);
}
#shops.shops-dress {
  background-color: rgba(236, 135, 192, 0.3);
}
#shops.shops-game {
  background-color: rgba(69, 77, 88, 0.3);
}
#shops .shops-title {
  margin-top: calc(55px + var(--space-mobile));
  padding-right: 10%;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
#shops .shops-title h1, #shops .shops-title h2 {
  font-size: 25px;
  font-weight: 700;
  color: Var(--main);
}
#shops .shops-title h1 {
  margin: auto 0;
}
#shops .shops-title h2 {
  text-align: center;
}
#shops .shops-title hr {
  height: 50px;
  margin: auto 0;
  width: 5px;
  background-color: var(--main);
  border-color: var(--main);
}
#shops .shops-only-desktop {
  flex-direction: column;
}
#shops .shops-only-desktop .shops-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#shops .shops-only-desktop .shops-content div {
  flex-direction: column;
  align-items: flex-start;
  padding-left: var(--space-mobile);
  margin-bottom: var(--space-mobile);
}
#shops .shops-only-desktop .shops-content.content-column {
  flex-direction: row;
}
#shops .shops-only-desktop .shops-content p {
  font-size: 20px;
  margin: var(--space-mobile) 0;
  color: var(--main);
}
#shops .shops-only-desktop .shops-content p:hover {
  color: var(--gray);
}
#shops .shops-only-desktop img {
  width: 150px;
  height: 150px;
  margin-left: var(--space-mobile);
  margin-bottom: var(--space-mobile);
}

@media (min-width: 768px) {
  #shops .shops-title {
    max-width: 500px;
    margin-left: calc(50% - 250px);
  }
  #shops .shops-only-desktop {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
  }
  #shops .shops-only-desktop .shops-content {
    margin-right: 80px;
  }
  #shops .shops-only-desktop img {
    margin-left: 0;
    margin-right: 100px;
    height: 200px;
    width: 200px;
  }
}
@media (min-width: 992px) {
  #shops {
    margin-top: -135px;
  }
  #shops .shops-title {
    margin-top: 100px;
  }
  #shops .shops-only-desktop .shops-content div {
    padding-left: var(--space-desktop);
    margin-bottom: var(--space-desktop);
  }
  #shops .shops-only-desktop img {
    margin-left: var(--space-desktop);
    margin-bottom: var(--space-desktop);
  }
}
@media (min-width: 1500px) {
  #shops .shops-title {
    max-width: 1000px;
    margin-left: calc(50% - 500px);
    margin-bottom: var(--space-desktop);
    margin-top: 100px;
  }
  #shops .shops-title h1, #shops .shops-title h2 {
    font-size: 50px;
  }
  #shops .shops-only-desktop img {
    width: 300px;
    height: 300px;
    margin-left: -250px;
  }
}
#error {
  width: 100%;
  height: 845px;
  margin-top: -55px;
  position: relative;
  background-color: rgba(64, 55, 78, 0.3);
}
#error h1, #error h2, #error img, #error div {
  position: absolute;
}
#error h1, #error h2 {
  font-weight: 700;
  color: var(--main);
  margin: 0;
}
#error h1 {
  font-size: 100px;
  transform: rotate(315deg);
  top: calc(var(--space-mobile) * 4);
}
#error h2 {
  font-size: 25px;
  top: 170px;
  left: 50vw;
}
#error img {
  width: 100%;
  top: 220px;
}
#error div {
  width: 100%;
  height: 380px;
  flex-direction: column;
  padding: var(--space-mobile);
  background-color: var(--gray);
  top: 465px;
}
#error div p {
  font-size: 20px;
  color: var(--main);
  margin: 0;
}
#error div p.title {
  margin: var(--space-mobile) 0;
  font-weight: 700;
}
#error div a {
  text-decoration: none;
}
#error div a button {
  width: 220px;
  min-width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: var(--gray);
  font-size: 30px;
  font-weight: 700;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  width: 290px;
  height: 50px;
  background-color: rgba(64, 55, 78, 0.75);
  font-size: 20px;
  color: var(--gray);
  border: var(--gray);
  margin-top: var(--space-mobile);
}
#error div a button:hover {
  background-color: var(--white);
}
#error div a button:hover {
  color: var(--main-second);
}

@media (min-width: 768px) {
  #error {
    height: 475px;
  }
  #error h2 {
    font-size: 37px;
    top: 120px;
    left: 28vw;
  }
  #error img {
    width: 50%;
    bottom: 0;
    top: initial;
  }
  #error div {
    width: 40%;
    top: 190px;
    right: var(--space-desktop);
    background-color: transparent;
  }
  #error div p {
    font-size: 16.3333333333px;
  }
}
@media (min-width: 992px) {
  #error {
    height: 100vh;
    margin-top: -135px;
  }
  #error h1 {
    transform: rotate(45deg);
    top: var(--space-desktop);
    right: 0;
  }
  #error h2 {
    top: 150px;
    left: var(--space-desktop);
    font-size: 50px;
  }
  #error div {
    top: initial;
    bottom: 0;
  }
  #error div p {
    font-size: 22px;
  }
}
@media (min-width: 1500px) {
  #error h1 {
    font-size: 180px;
  }
}
#park {
  background-image: url("../images/photos/park-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  margin-top: -55px;
  position: relative;
}
#park h1 {
  font-size: 30px;
  font-weight: 700;
  color: var(--gray);
  margin: 0;
  position: absolute;
  bottom: var(--space-mobile);
  padding-left: var(--space-mobile);
}
#park h1 span {
  color: #21C25E;
  font-weight: 700;
}
#park .park-desktop {
  display: none;
}

.park-mobile {
  width: 100%;
  flex-direction: column;
  background-color: rgba(64, 55, 78, 0.5);
}
.park-mobile img {
  margin: auto;
  padding: var(--space-mobile);
}
.park-mobile a {
  margin: auto;
}

@media (min-width: 768px) {
  #park {
    background-image: url("../images/photos/park-desktop.jpg");
    background-position-x: -15em;
    position: relative;
  }
  #park > div {
    position: absolute;
    bottom: var(--space-mobile);
    right: var(--space-mobile);
  }
  #park > div .park-desktop {
    display: flex;
  }
  #park > div .phone-park {
    height: 100px;
    width: 75px;
    margin: auto 0;
  }
  #park > div .direction-park {
    width: 150px;
    height: 100px;
    margin: auto 0;
    transform: rotate(270deg);
  }
  #park > div a img {
    width: 150px;
    height: 150px;
    margin: auto 0;
  }

  .park-mobile {
    display: none;
  }
}
@media (min-width: 992px) {
  #park {
    margin-top: -135px;
    background-image: url("../images/photos/park-desktop-2x.jpg");
    background-position-x: initial;
  }
  #park > div a img {
    width: 100px;
    height: 100px;
    margin: auto 0;
  }
  #park h1 {
    color: var(--main-second);
    font-size: 40px;
  }
  #park h1 br.br-one {
    display: none;
  }
}
@media (min-width: 1500px) {
  #park h1 {
    font-size: 60px;
  }
}
#ticket {
  width: 100%;
  height: 100vh;
  margin-top: -55px;
  position: relative;
  background-color: rgba(22, 119, 230, 0.59);
  flex-direction: column;
}
#ticket h1, #ticket p {
  color: var(--main);
  padding-left: var(--space-mobile);
  margin: 0;
}
#ticket h1 {
  font-size: 30px;
  font-weight: 700;
  margin-top: calc(55px + var(--space-mobile));
}
#ticket p {
  font-size: 20px;
  margin-top: var(--space-mobile);
}
#ticket img {
  position: absolute;
  bottom: 0;
  width: 394px;
  left: -78px;
}

.reserv-ticket {
  width: 100%;
  flex-direction: column;
}
.reserv-ticket .movie-title {
  width: 100%;
  flex-direction: column;
}
.reserv-ticket .movie-title h2 {
  color: var(--main);
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  padding-left: var(--space-mobile);
  margin: var(--space-mobile) 0;
}
.reserv-ticket .movie-title .trailer {
  width: 100%;
}
.reserv-ticket .movie-title .trailer video {
  width: 100%;
  margin: 0 auto;
  max-width: 720px;
}
.reserv-ticket .movie-title img {
  width: 290px;
  margin: auto;
}
.reserv-ticket .movie-hour {
  width: 100%;
  background-color: var(--gray);
  padding-bottom: var(--space-mobile);
}
.reserv-ticket .movie-hour form {
  flex-direction: column;
}
.reserv-ticket .movie-hour form h3 {
  font-size: 30px;
  margin: 0;
  color: --main;
  font-weight: 700;
  padding: var(--space-mobile);
  padding-bottom: 0;
}
.reserv-ticket .movie-hour form .options {
  justify-content: space-between;
  flex-wrap: wrap;
}
.reserv-ticket .movie-hour form .options p {
  width: 100%;
  margin: 0;
  color: var(--main);
  font-size: 30px;
  padding: var(--space-mobile);
}
.reserv-ticket .movie-hour form .options label span {
  width: 220px;
  min-width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: var(--gray);
  font-size: 30px;
  font-weight: 700;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  display: flex;
  background-color: rgba(64, 55, 78, 0.75);
  color: var(--gray);
  width: 100px;
  min-width: 100px;
  height: 40px;
  margin: 0 10px;
  font-size: 20px;
}
.reserv-ticket .movie-hour form .options label span:hover {
  background-color: var(--white);
}
.reserv-ticket .movie-hour form .options label span:hover {
  color: var(--gray);
  background-color: var(--main-green);
}
.reserv-ticket .movie-hour form .options label input {
  display: none;
}
.reserv-ticket .movie-hour form .options label input:checked + span {
  width: 220px;
  min-width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: var(--gray);
  font-size: 30px;
  font-weight: 700;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: var(--gray);
  background-color: var(--main-green);
  width: 100px;
  min-width: 100px;
  height: 40px;
  font-size: 20px;
}
.reserv-ticket .movie-hour form .options label input:checked + span:hover {
  background-color: var(--white);
}
.reserv-ticket .movie-seat {
  width: 100%;
  flex-direction: column;
  position: relative;
}
.reserv-ticket .movie-seat .only-desktop {
  flex-direction: column;
}
.reserv-ticket .movie-seat .only-desktop h4 {
  color: var(--main);
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: var(--space-mobile);
}
.reserv-ticket .movie-seat .only-desktop .legend {
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 var(--space-mobile);
}
.reserv-ticket .movie-seat .only-desktop .legend > img {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 0;
}
.reserv-ticket .movie-seat .only-desktop .legend p {
  margin: 0;
  color: var(--main);
  font-size: 15px;
}
.reserv-ticket .only-desktop {
  flex-direction: column;
}
.reserv-ticket .only-desktop img {
  width: 370px;
  margin: 0 auto;
}
.reserv-ticket .only-desktop > svg {
  width: 359px;
  max-width: 400px;
  height: 182px;
  margin: 0 auto;
}
.reserv-ticket .only-desktop p {
  margin: 0;
  color: var(--main);
  font-size: 15px;
  text-align: center;
}
.reserv-ticket .only-desktop a {
  text-decoration: none;
  margin: 0 auto;
  padding: var(--space-mobile) 0;
}
.reserv-ticket .only-desktop a button {
  width: 220px;
  min-width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: var(--gray);
  font-size: 30px;
  font-weight: 700;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  height: 50px;
  background-color: rgba(64, 55, 78, 0.75);
  color: var(--gray);
}
.reserv-ticket .only-desktop a button:hover {
  background-color: var(--white);
}
.reserv-ticket .only-desktop a button:hover {
  color: rgba(64, 55, 78, 0.75);
  background-color: var(--gray);
}

@media (min-width: 375px) {
  #ticket img {
    width: 450px;
  }
}
@media (min-width: 576px) {
  .reserv-ticket .movie-seat .only-desktop {
    flex-direction: row;
  }
  .reserv-ticket .movie-seat .only-desktop h4 {
    width: 300px;
    padding-bottom: 0;
  }
  .reserv-ticket .movie-seat .only-desktop .legend {
    width: 35vw;
    padding-left: 0;
  }
  .reserv-ticket .movie-seat img {
    margin-top: var(--space-desktop);
  }
}
@media (min-width: 768px) {
  #ticket h1, #ticket p {
    position: absolute;
    right: var(--space-desktop);
    width: 50vw;
    margin: 0;
  }
  #ticket h1 {
    top: 30vh;
  }
  #ticket p {
    top: 45vh;
  }
  #ticket img {
    width: 700px;
    left: -203px;
  }

  .reserv-ticket .movie-title img {
    display: none;
  }
  .reserv-ticket .movie-hour form .options {
    max-width: 375px;
  }
  .reserv-ticket .only-desktop {
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  .reserv-ticket .only-desktop img {
    padding: 0 var(--space-mobile);
    margin-bottom: var(--space-mobile);
  }
  .reserv-ticket .only-desktop svg {
    margin-bottom: var(--space-mobile);
  }
}
@media (min-width: 992px) {
  #ticket {
    margin-top: -135px;
  }
  #ticket h1 {
    font-size: 40px;
    top: 45vh;
  }
  #ticket p {
    font-size: 35px;
    top: 60vh;
  }
  #ticket img {
    width: 800px;
    left: -220px;
  }

  .reserv-ticket .movie-title {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .reserv-ticket .movie-title .trailer {
    padding: 0 var(--space-desktop);
  }
  .reserv-ticket .movie-title img {
    display: flex;
    width: initial;
    height: 350px;
    margin-right: var(--space-mobile);
  }
}
@media (min-width: 1200px) {
  .reserv-ticket .movie-seat .only-desktop h4 {
    width: 50%;
    font-size: 80px;
  }
  .reserv-ticket .movie-seat .only-desktop .legend {
    width: 25vw;
  }
}
.full-banner-schedules {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("../images/photos/schedules.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -36em;
  margin-top: -55px;
}
.full-banner-schedules h1 {
  position: absolute;
  font-size: 30px;
  font-weight: 700;
  color: var(--main);
  margin: 0;
  text-align: center;
  bottom: var(--space-mobile);
  padding: 0 var(--space-mobile);
}

.schedules-main {
  flex-direction: column;
  background-color: var(--gray);
}
.schedules-main .schedules-form form {
  flex-direction: column;
  align-items: flex-start;
  padding-left: var(--space-mobile);
  margin: var(--space-mobile) 0;
}
.schedules-main .schedules-form form p {
  font-size: 30px;
  font-weight: 700;
  color: var(--main);
  margin: 0;
  margin-bottom: var(--space-mobile);
}
.schedules-main .schedules-form form label {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: var(--main);
}
.schedules-main .schedules-form form input, .schedules-main .schedules-form form textarea {
  background: none;
  width: 200px;
  border: none;
  border-bottom: solid 2px var(--main);
}
.schedules-main .calendar {
  flex-direction: column;
  padding: 0 var(--space-mobile);
  margin-bottom: var(--space-mobile);
  max-width: 375px;
}
.schedules-main .calendar .month {
  justify-content: space-between;
  align-items: center;
  color: var(--main);
  margin-bottom: 10px;
}
.schedules-main .calendar .month h2 {
  font-size: 30px;
  font-weight: 700;
  color: var(--main);
}
.schedules-main .calendar ul {
  margin: 0;
  padding: 0;
}
.schedules-main .calendar .weekdays {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--main);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.schedules-main .calendar .weekdays li {
  justify-content: center;
  padding: 8px 0;
  font-size: 12px;
  font-weight: 700;
  height: 50px;
}
.schedules-main .calendar .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  color: var(--main);
}
.schedules-main .calendar .days li {
  font-size: 16px;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 50%;
  height: 50px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.schedules-main .calendar .days li:hover {
  background-color: var(--white);
}
.schedules-main .calendar .days li.select {
  background-color: var(--main-green);
  color: var(--gray);
}
.schedules-main .calendar .days li.select:hover {
  background-color: var(--main-second);
}
.schedules-main .period {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: var(--space-mobile);
}
.schedules-main .period h3 {
  font-size: 30px;
  font-weight: 700;
  color: var(--main);
  margin: 0;
  margin-bottom: 10px;
}
.schedules-main .period button {
  width: 220px;
  min-width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: var(--gray);
  font-size: 30px;
  font-weight: 700;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  width: 200px;
  height: 40px;
  background-color: rgba(64, 55, 78, 0.75);
  border: 1px solid var(--white);
  color: var(--gray);
  font-size: 20px;
  margin: 10px 0;
}
.schedules-main .period button:hover {
  background-color: var(--white);
}
.schedules-main .period button:hover {
  color: var(--gray);
  background-color: var(--main-green);
}
.schedules-main .confirm-schedules {
  justify-content: center;
  align-items: center;
}
.schedules-main .confirm-schedules button {
  width: 220px;
  min-width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: var(--gray);
  font-size: 30px;
  font-weight: 700;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  width: 220px;
  height: 60px;
  background-color: var(--main);
  border: 1px solid var(--white);
  color: var(--gray);
  font-size: 30px;
  margin: 10px 0;
}
.schedules-main .confirm-schedules button:hover {
  background-color: var(--white);
}
.schedules-main .confirm-schedules button:hover {
  color: rgba(64, 55, 78, 0.75);
  background-color: var(--white);
}

@media (min-width: 768px) {
  .full-banner-schedules {
    background-position-x: initial;
  }
  .full-banner-schedules h1 {
    padding: var(--space-desktop) 20vw;
  }
}
@media (min-width: 992px) {
  .full-banner-schedules {
    margin-top: -135px;
  }
  .full-banner-schedules h1 {
    font-size: 50px;
    padding-bottom: 0;
  }

  .schedules-main {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: 100vw;
  }
  .schedules-main .confirm-schedules {
    height: 280px;
  }
  .schedules-main .confirm-schedules button {
    margin-top: calc(50% - 30px);
  }
}
#map {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#map .full-banner-map-shopping {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  padding: var(--space-mobile);
}
#map .full-banner-map-shopping img {
  width: 375px;
  margin-top: var(--space-mobile);
}
#map .full-banner-map-shopping h1, #map .full-banner-map-shopping small {
  color: var(--main);
}
#map .full-banner-map-shopping h1 {
  font-weight: 700;
  font-size: 35px;
}
#map .full-banner-map-shopping small {
  font-size: 20px;
}
#map .floor-one,
#map .floor-two,
#map .floor-three,
#map .floor-zero {
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: var(--space-mobile);
}
#map .floor-one p,
#map .floor-two p,
#map .floor-three p,
#map .floor-zero p {
  color: var(--main);
  font-size: 30px;
  font-weight: 700;
  margin-left: -90%;
}
#map .floor-one img,
#map .floor-two img,
#map .floor-three img,
#map .floor-zero img {
  width: 365px;
}
#map .floor-one img.map-desktop,
#map .floor-two img.map-desktop,
#map .floor-three img.map-desktop,
#map .floor-zero img.map-desktop {
  display: none;
}
#map .floor-one,
#map .floor-three {
  background-color: var(--purple-2);
}

@media (min-width: 992px) {
  #map .full-banner-map-shopping {
    flex-direction: row;
    padding: var(--space-desktop);
  }
  #map .full-banner-map-shopping h1 {
    font-size: 50px;
  }
  #map .full-banner-map-shopping h1 small {
    font-size: 30px;
  }
  #map .full-banner-map-shopping img {
    width: 600px;
  }
  #map .floor-one,
#map .floor-two,
#map .floor-three,
#map .floor-zero {
    flex-direction: row;
    background-color: var(--purple-2);
  }
  #map .floor-one p,
#map .floor-two p,
#map .floor-three p,
#map .floor-zero p {
    font-size: 50px;
    margin: 0;
  }
  #map .floor-one img,
#map .floor-two img,
#map .floor-three img,
#map .floor-zero img {
    width: 400px;
    padding: var(--space-desktop);
  }
  #map .floor-one img.map-desktop,
#map .floor-two img.map-desktop,
#map .floor-three img.map-desktop,
#map .floor-zero img.map-desktop {
    display: flex;
    width: 250px;
    padding: var(--space-desktop);
  }
  #map .floor-one img.map-desktop.up,
#map .floor-two img.map-desktop.up,
#map .floor-three img.map-desktop.up,
#map .floor-zero img.map-desktop.up {
    margin-bottom: 10%;
  }
  #map .floor-one img.map-desktop.up.fullHD,
#map .floor-two img.map-desktop.up.fullHD,
#map .floor-three img.map-desktop.up.fullHD,
#map .floor-zero img.map-desktop.up.fullHD {
    display: none;
  }
  #map .floor-one img.map-desktop.down,
#map .floor-two img.map-desktop.down,
#map .floor-three img.map-desktop.down,
#map .floor-zero img.map-desktop.down {
    margin-top: 10%;
  }
}
@media (min-width: 1200px) {
  #map .floor-one,
#map .floor-two,
#map .floor-three,
#map .floor-zero {
    justify-content: space-evenly;
  }
  #map .floor-one img,
#map .floor-two img,
#map .floor-three img,
#map .floor-zero img {
    width: 550px;
  }
}
@media (min-width: 1500px) {
  #map .full-banner-map-shopping h1 {
    font-size: 100px;
  }
  #map .full-banner-map-shopping h1 small {
    font-size: 60px;
  }
  #map .full-banner-map-shopping img {
    width: 800px;
  }
  #map .floor-one img,
#map .floor-two img,
#map .floor-three img,
#map .floor-zero img {
    width: 650px;
  }
  #map .floor-one img.map-desktop.up.fullHD,
#map .floor-two img.map-desktop.up.fullHD,
#map .floor-three img.map-desktop.up.fullHD,
#map .floor-zero img.map-desktop.up.fullHD {
    display: flex;
  }
}
#inform {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--gray);
  margin-top: -55px;
}
#inform .inform-text {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--space-mobile);
}
#inform .inform-text h1, #inform .inform-text p {
  margin: 0;
  color: var(--main);
  text-align: left;
  padding: var(--space-mobile);
}
#inform .inform-text h1 {
  font-size: 30px;
  font-weight: 700;
}
#inform .inform-text p {
  padding-top: 0;
}
#inform img {
  width: 100vw;
}

@media (min-width: 768px) {
  #inform {
    height: initial;
    flex-direction: row;
  }
  #inform .inform-text {
    margin-top: 50px;
  }
  #inform img {
    width: 400px;
  }
}
@media (min-width: 992px) {
  #inform {
    margin-top: -135px;
  }
}
@media (min-width: 1200px) {
  #inform .inform-text {
    padding: var(--space-desktop);
  }
  #inform .inform-text h1 {
    font-size: 50px;
  }
  #inform .inform-text p {
    font-size: 30px;
  }
  #inform img {
    width: 500px;
  }
}
@media (min-width: 1680px) {
  #inform .inform-text h1 {
    font-size: 70px;
  }
  #inform img {
    width: 900px;
  }
}
#baby {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--gray);
  margin-top: -55px;
}
#baby .baby-text {
  width: 100%;
  flex-direction: column;
  padding: var(--space-mobile);
}
#baby .baby-text h1, #baby .baby-text p {
  color: var(--main);
  text-align: left;
  margin: 0;
}
#baby .baby-text h1 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 50px;
}
#baby .baby-text p {
  font-size: 20px;
  margin-top: 10px;
}
#baby .baby-image img {
  width: 375px;
  margin: auto;
}
#baby .baby-image-floor {
  margin-bottom: var(--space-mobile);
}
#baby .baby-image-floor img {
  width: 250px;
  margin: auto;
}

@media (min-width: 992px) {
  #baby {
    margin-top: -135px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #baby .baby-image {
    position: absolute;
    bottom: var(--space-desktop);
    right: var(--space-desktop);
    margin: 0;
  }
  #baby .baby-image img {
    width: 50vw;
  }
  #baby .baby-text,
#baby .baby-image-floor {
    width: 50%;
  }
  #baby .baby-text {
    margin-top: 135px;
    padding: var(--space-desktop);
  }
}
@media (min-width: 1200px) {
  #baby .baby-text h1 {
    font-size: 40px;
  }
  #baby .baby-text p {
    font-size: 30px;
  }
}
@media (min-width: 1500px) {
  #baby .baby-image-floor img {
    width: 400px;
  }
  #baby .baby-image {
    bottom: 0;
  }
}
#phone {
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #e3e3e3;
  position: relative;
  flex-direction: column;
  margin-top: -55px;
}
#phone .phone-title {
  padding: var(--space-mobile);
}
#phone .phone-title h1 {
  margin: 0;
  margin-top: 75px;
  color: var(--main);
  font-weight: 700;
  font-size: 30px;
}
#phone .phone-image img {
  width: 370px;
  margin: auto;
}
#phone .phone-floor img {
  width: 300px;
  padding: var(--space-mobile);
  margin: auto;
}

@media (min-width: 992px) {
  #phone {
    margin-top: -135px;
    justify-content: left;
    align-items: flex-start;
  }
  #phone .phone-title,
#phone .phone-floor {
    width: 50%;
  }
  #phone .phone-image {
    position: absolute;
    bottom: 0;
    right: var(--space-desktop);
  }
  #phone .phone-title {
    margin-top: 100px;
    padding: var(--space-desktop);
  }
  #phone .phone-floor {
    padding-bottom: var(--space-desktop);
  }
}
@media (min-width: 1500px) {
  #phone .phone-title h1 {
    font-size: 50px;
  }
  #phone .phone-floor img {
    width: 500px;
  }
  #phone .phone-image img {
    width: 40vw;
  }
}
@media (min-width: 1680px) {
  #phone .phone-image img {
    width: 35vw;
  }
}
#construction {
  width: 100%;
  background-color: rgba(64, 55, 78, 0.3);
  flex-direction: column;
  margin-top: -55px;
}
#construction .only-image {
  width: 100%;
  margin-top: calc(55px + var(--space-mobile));
}
#construction .only-image img {
  width: 350px;
  margin: auto;
}
#construction .construction-content {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: var(--space-mobile);
}
#construction .construction-content h1, #construction .construction-content h2, #construction .construction-content h3 {
  color: var(--main);
  font-size: 20px;
  margin: 0;
  margin-bottom: var(--space-mobile);
}
#construction .construction-content h1, #construction .construction-content h3 {
  font-weight: 700;
}
#construction .construction-content h3 {
  font-size: 30px;
}
#construction .construction-content img {
  width: 350px;
  margin: 0 auto;
}
#construction .construction-content a {
  text-decoration: none;
}
#construction .construction-content a button {
  width: 220px;
  min-width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: var(--gray);
  font-size: 30px;
  font-weight: 700;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background-color: rgba(64, 55, 78, 0.75);
  color: var(--gray);
  width: 180px;
  height: 70;
  font-size: 40px;
  border: solid 1px var(--gray);
}
#construction .construction-content a button:hover {
  background-color: var(--white);
}
#construction .construction-content a button:hover {
  color: rgba(64, 55, 78, 0.75);
  background-color: var(--gray);
  border: solid 1px var(--main-second);
}

@media (min-width: 992px) {
  #construction {
    margin-top: -135px;
    flex-direction: row;
    height: 100vh;
  }
  #construction .only-image {
    margin-top: 135px;
  }
  #construction .only-image img {
    width: 500px;
    padding: var(--space-desktop);
  }
  #construction .construction-content {
    margin-top: 135px;
  }
  #construction .construction-content img {
    width: 290px;
  }
}
@media (min-width: 1500px) {
  #construction .only-image img {
    width: 650px;
  }
}
#terms,
#politic {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  flex-direction: column;
  padding: var(--space-mobile);
}
#terms h2, #terms h3,
#politic h2,
#politic h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--main-second);
}
#terms p,
#politic p {
  font-size: 15px;
  color: var(--main);
  line-height: 26px;
}
#terms a,
#politic a {
  text-decoration: none;
  color: var(--main-second);
  cursor: pointer;
}
#terms a:hover,
#politic a:hover {
  color: var(--main);
}
#terms ol, #terms ul,
#politic ol,
#politic ul {
  flex-direction: column;
}
#terms ol li, #terms ul li,
#politic ol li,
#politic ul li {
  line-height: 26px;
  font-size: 15px;
  color: var(--main);
}

/*# sourceMappingURL=main.css.map */
